# Nodeclipse Files #
####################
.jshintrc
.project
.tern-project
.settings

# Node Files #
##############
/node_modules

# Local Junk #
##############
# This if a file within which i keep notes
info